html,body {height: 100%;}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    max-width: 1000px;
    padding: 0 15px;
}

.container .credit {
    margin: 20px 0;
}

#graph {
    float: left;
}

#donut {
    float: right;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis.x {
    font-size: 10px;
}

.bar {
    fill: steelblue;
    pointer-events: all;
}

.click-capture {
    cursor: pointer;
}

.x.axis path {
    display: none;
}